.actions {
  position: relative;
  list-style: none;
  background-image: url("../img/mobile/traveller-illustration-mobile@1x.png"), url("../img/mobile/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 79px -4px, 0 -227px;
  padding-top: 231px;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
}

.actions__item {
  z-index: 2;
  width: 40px;
  height: 40px;

  &:last-child {
    width: 190px;
  }
}

.actions__link {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 0.5s;

  &--phone {
    background-color: $background__orange-color;

    &:focus {
      background-color: $background__orange-color__actions;
    }

    &:hover {
      background-color: $background__orange-color__actions;
    }

    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background: url("../img/icons/mobile/topmenu-phone.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
    }
  }

  &--email {
    background-color: $orangish-yellow-color;

    &:focus {
      background-color: $orangish-yellow-color__actions;
    }

    &:hover {
      background-color: $orangish-yellow-color__actions;
    }

    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background: url("../img/icons/mobile/topmenu-mail.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
    }
  }

  &--auth {
    text-decoration: none;

    border-radius: 20px;
    background-color: $yellow-color;

    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $font-color;

    &:focus {
      background-color: $yellow-color__actions;
    }

    &:hover {
      background-color: $yellow-color__actions;
    }

    padding-top: 7px;

    &:active {
      color: rgba($font-color, 0.3);
    }
  }

  &:active {
    &::after {
      transition: opacity 0.1s;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .actions__item {
    z-index: 2;
    width: 50px;
    height: 50px;

    &:last-child {
      width: 190px;
    }
  }

  .actions__link {
    font-size: 20px;
    line-height: 30px;

    &--auth {
      border-radius: 25px;
      padding-top: 10px;
    }
  }
}
