.contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 270px;
}

.contacts__link {
  text-decoration: none;

  display: flex;
  position: relative;

  color: $universal__dark-blue;
  font-size: 16px;
  line-height: 46px;
  font-weight: 700;

  text-transform: uppercase;

  &--cta {
    color: $universal__bright-yellow;
  }

  &::before {
    content: "";

    width: 45px;
    height: 45px;
    position: relative;
    flex-shrink: 0;

    background-color: $universal__dark-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 50%;

    margin-right: 16px;
  }

  &--phone {
    &::before {
      background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-phone-yellow.svg");
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-phone-yellow-hover.svg");
      }
    }

    &:active {
      &::before {
        opacity: 1;
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-phone-yellow-active.svg");
      }
    }
  }

  &--email {
    &::before {
      background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-mail-yellow.svg");
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-mail-yellow-hover.svg");
      }
    }

    &:active {
      &::before {
        opacity: 1;
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-mail-yellow-active.svg");
      }
    }
  }

  &:hover,
  &:focus {
    span {
      color: $orangish-yellow-color;
    }
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .contacts {
    max-width: 100%;
  }

  .contacts__link {
    font-size: 28px;
    line-height: 28px;

    span {
      padding-top: 22px;
      padding-left: 7px;
    }

    &::before {
      width: 68px;
      height: 68px;

      background-size: 27px 27px;
    }

    &--phone {
      &::before {
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-phone-yellow.svg");
      }
    }

    &--email {
      &::before {
        background-image: url("../img/icons/mobile/mail-contacts-yellow/contacts-mail-yellow.svg");
      }
    }
  }


}
