.contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 270px;
}

.contacts__link {
  text-decoration: none;

  display: flex;
  position: relative;

  color: $universal__dark-blue;
  font-size: 16px;
  line-height: 46px;
  font-weight: 700;

  text-transform: uppercase;

  &--cta {
    color: $universal__bright-yellow;
  }

  &::before {
    content: "";

    width: 45px;
    height: 45px;
    position: relative;
    flex-shrink: 0;

    background-color: $universal__dark-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 50%;

    margin-right: 16px;
  }

  &--phone {
    &::before {
      background-image: url("../img/icons/mobile/contacts-phone-yellow.svg");
    }
  }

  &--email {
    &::before {
      background-image: url("../img/icons/mobile/contacts-mail-yellow.svg");
    }
  }
}
