.country-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $grayish-blue-light-alt;
  padding-bottom: 16px;
}

.country-filter__name-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.country-filter__name {
  @include reset;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding-right: 5px;
  padding-left: 23px;
  color: $background__dark-blue;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 7px;
    display: block;
    width: 15px;
    height: 10px;
    background-image: url("../img/icons/mobile/filter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.country-filter__button {
  cursor: pointer;

  &--open {
    position: relative;
    z-index: 5;
    background: none;
    border: none;
    margin-left: 23px;
    width: 17px;
    height: 5px;
    background-image: url("../img/icons/mobile/dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -3px;
  }

  &--collapse {
    background: none;
    position: relative;
    z-index: 5;
    border: none;
    display: block;
    margin-left: 21px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/filter-close.svg");
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}

.country-filter__continents-selection {
  display: none;
}

.country-filter__colon {
  display: none;
}

.country-filter__button-text {
  display: none;
}

@media (min-width: $tablet-breakpoint) {
  .country-filter__name {
    display: none;
  }

  .country-filter__continents-selection {
    display: flex;
    flex-direction: row;
  }

  .country-filter__button {
    font-family: inherit;
    width: auto;
    background-position: right;
    padding-right: 50px;
  }

  .country-filter__button-text {
    font-family: inherit;
    font-weight: 700;
    display: unset;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-breakpoint) {
  .country-filter__name {
    display: flex;
  }

  .country-filter__colon {
    display: unset;
  }
}
