.country-card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}

.country-card__img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.country-card__description {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: $white;

  padding-top: 27px;
  margin-top: -11px;

  border-radius: 10px;
}

.country-card__name {
  color: $font-color;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  padding-left: 24px;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: 25px;

    background-image: url("https://via.placeholder.com/150");
    border-radius: 3px;
  }
}

.country-card__text {
  color: $rgba__text__light-gray;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  padding-top: 3px;
  padding-bottom: 21px;
  margin-right: auto;
  margin-left: 25px;

  &--number {
    position: relative;
    padding-bottom: 0;
    margin-right: 25px;
    margin-left: auto;

    &::before {
      content: "";

      display: block;
      width: 11px;
      height: 11px;
      position: absolute;
      bottom: 5px;
      left: -17px;

      opacity: 0.1;
      background: url("../img/icons/mobile/user.svg");
    }
  }
}
