.cta-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background: $background__dark-blue;
  padding-left: 25px;
  padding-right: 25px;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -27px;
    left: 0;
    z-index: 2;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: $background__dark-blue;
  }
}

.cta-form__heading {
  @include reset;
  color: $background__orange-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 55px;

  max-width: 320px;
}

.cta-form__text {
  @include reset;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;

  padding-top: 19px;

  &--questions {
    padding-top: 29px;
  }
}

.cta-form__link {
  color: $universal__bright-yellow;

  &:hover,
  &:focus {
    color: $background__orange-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.cta-form__email-form {
  display: flex;
  max-width: 270px;
  height: 62px;

  background-color: $white;
  border-radius: 10px;

  margin-top: 29px;
}

.cta-form__input {
  border: none;
  background: none;
  outline: none;

  max-width: 210px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  &::placeholder {
    color: $rgba__text__light-gray;
  }

  &:hover {
    background-color: $main-color;
  }

  &:focus {
    background-color: $background__dark-blue;
    color: $white;
    border: 4px solid $white;
  }
}

.cta-form__button {
  border: none;

  flex-shrink: 0;

  width: 60px;
  height: 62px;

  background: rgba($universal__bright-yellow, 1) url("../img/icons/mobile/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 27px 24px;
  background-size: 10px 14px;
  border-radius: 10px;

  margin-right: 0;
  margin-left: auto;
}

.cta-form__button-description {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

.cta-form__contacts {
  @include reset;
  margin-top: 17px;
  padding-right: 33px;
}

@media (min-width: $tablet-breakpoint) {
  .cta-form {
    padding-right: 40px;
    padding-left: 40px;
  }

  .cta-form {
    br {
      display: none;
    }
  }

  .cta-form__heading {
    max-width: 100%;
  }

  .cta-form__email-form {
    max-width: 100%;
  }

  .cta-form__input {
    max-width: 100%;
  }
}

@media (min-width: $desktop-breakpoint) {
  .cta-form__heading {
    @include desktop-section-heading;
  }

  .cta-form__text {
    @include desktop-light-text;
  }

  br.cta-form__desktop-break {
    display: unset;
  }

  .cta-form__email-form {
    width: 100%;
    margin-right: 132px;
    margin-left: 132px;
  }

  .cta-form__input {
    max-width: unset;
    flex-grow: 1;
  }

  .cta-form__button {
    font-family: inherit;
    width: 324px;
    background-position: 310px 24px;
    text-align: left;
  }

  .cta-form__button-description {
    font-family: inherit;
    position: relative;
    z-index: 1;

    color: $text__dark-blue;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    padding-left: 32px;
  }

  .cta-form__contacts {
    flex-direction: row;
    max-width: 100%;
  }
}
