.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  padding-top: 7px;
  margin-top: 31px;

  padding-bottom: 14px;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 33px;
    position: absolute;
    top: -31px;
    left: 0;
    z-index: 2;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: $white;
  }
}

.footer__developer {
  margin-right: 25px;
  margin-left: 25px;
}

@media (min-width: $tablet-breakpoint) {
  .footer {
    padding-right: 40px;
    padding-left: 40px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer__developer {
    margin-right: 0;
    margin-left: auto;
  }
}
