.functions {
  display: flex;
  justify-content: space-between;
}

.functions__button {
  @include reset;
  border: none;
  margin-top: 4px;
  width: 25px;
  height: 11px;
  background: url("../img/icons/mobile/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.functions__auth-link {
  @include reset;
  display: none;
  text-decoration: none;
  height: 50px;
  max-width: 270px;
  background-color: $universal__bright-yellow;
  border-radius: 25px;
  color: $header-color;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 80px;
}

@media (min-width: $tablet-breakpoint) {
  .functions__auth-link {
    display: flex;

    font-size: 20px;
    line-height: 30px;

    padding-top: 10px;
    padding-right: 30px;
    padding-left: 28px;
  }

  .functions__button {
    margin-top: 21px;
    margin-left: 105px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .functions__button {
    display: none;
  }

  .functions__auth-link {
    display: none;
  }
}
