.functions {
  display: flex;
  justify-content: space-between;
}

.functions__button {
  @include reset;
  border: none;
  position: relative;

  margin-top: -4px;
  margin-right: -3px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;

    position: absolute;
    top: 11px;
    left: -8px;

    margin-top: 1px;
    margin-left: 12px;

    background-color: $grayish-light-2;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--open {
    &::before,
    &::after {
      background-color: $white;
    }

    &::before {
      transform: rotate(0);
      top: 8px;
      left: -10px;
    }

    &::after {
      transform: rotate(0);
      top: 16px;
      left: -10px;
    }
  }
}

.functions__auth-link {
  @include reset;
  display: none;
  text-decoration: none;
  height: 50px;
  max-width: 270px;
  background-color: $universal__bright-yellow;
  border-radius: 25px;
  color: $header-color;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 80px;
}

@media (min-width: $tablet-breakpoint) {
  .functions {
    padding-top: 40px;
  }

  .functions__link {
    width: 166px;
    height: 42px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .functions__logo-img {
    width: 166px;
    height: 42px;
  }

  .functions__auth-link {
    display: flex;

    font-size: 20px;
    line-height: 30px;

    padding-top: 10px;
    padding-right: 30px;
    padding-left: 28px;
  }

  .functions__button {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 0;

    &--open {
      margin-top: 12px;
      margin-left: 25px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .functions {
    @include reset;
  }

  .functions__link {
    width: 200px;
    height: 50px;
    margin: 0;
  }

  .functions__logo-img {
    width: 200px;
    height: 50px;
  }

  .functions__button {
    display: none;
  }

  .functions__auth-link {
    display: none;
  }
}
