.hashtags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;

  &--catalog {
    list-style: none;

    justify-content: flex-start;

    padding-left: 25px;

    li {
      @include reset;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}

.hashtags__item {
  @include reset;

  &:not(:last-child) {
    @include reset;
    margin-right: 5px;
  }

  a {
    @include reset;
    display: block;
    color: $rgba__text__gray;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;

    &::before {
      @include reset;
      content: "#";
    }
  }
}
