.inner-links {
  list-style: none;
}

.inner-links__item {
  text-align: center;
}

.inner-links__link {
  text-decoration: none;

  color: rgba(25, 33, 68, 1);
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
