.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $header-color;
}

.intro__heading {
  @include reset;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: $white;

  padding-top: 42px;
  padding-right: 30px;
  padding-left: 30px;
}

.intro__steps {
  @include reset;
  margin-top: 30px;
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $desktop-breakpoint) {
  .intro {
    @include desktop-paddings;
    padding-bottom: 90px;
  }

  .intro__actions {
    display: none;
  }

  .intro__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro__heading {
    padding-left: 60px;
    max-width: 485px;

    text-align: left;
    font-size: 60px;
    line-height: 70px;
  }
}
