.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $header-color;
}

.intro__heading {
  @include reset;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: $white;

  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.intro__quote {
  margin-top: -16px;
}

.intro__steps {
  @include reset;
  margin-top: 31px;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-breakpoint) {
  .intro {
    position: relative;

    background-image: url("../img/tablet/traveller-illustration-tablet@1x.png"), url("../img/tablet/globe-back-tablet@1x.jpg");
    background-size: 372px 451px, 1479px 612px;
    background-position: 284px 313px, -355px 292px;
    background-repeat: no-repeat;

    &::before {
      content: "";

      display: block;
      width: 100%;
      height: 167px;

      position: absolute;
      bottom: 0;
      left: 0;

      background-color: #192144;
    }
  }

  .intro__wrapper {
    width: 100%;
  }

  .intro__steps {
    margin-top: 213px;
  }

  .intro__heading {
    max-width: 490px;
    font-size: 60px;
    line-height: 70px;

    padding-top: 68px;
  }

  .intro__actions {
    display: none;
  }

  .intro__quote {
    margin-top: 50px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: $desktop-breakpoint) {
  .intro {
    @include desktop-paddings;
    padding-bottom: 90px;
  }

  .intro__actions {
    display: none;
  }

  .intro__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro__heading {
    padding-left: 60px;
    max-width: 485px;

    text-align: left;
    font-size: 60px;
    line-height: 70px;
  }
}
