$main-color: #edeff6;

.main {
  background-color: $main-color;
  width: 100%;
}

.main__rates {
  padding-top: 50px;
}

.main__cta-form {
  padding-top: 50px;
}

.main__office {
  padding-top: 50px;
}
