.mate-card {
  position: relative;
  max-width: 270px;
}

.mate-card__img {
  @include reset;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.mate-card__level {
  @include reset;
  position: absolute;
  top: 16px;
  left: 17px;
}

.mate-card__info {
  @include reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background: $white;

  margin-top: -5px;
  padding-bottom: 22px;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  ul {
    list-style: none;
  }
}

.mate-card__name-wrapper {
  @include reset;
  padding-top: 26px;
}

.mate-card__name {
  @include reset;
}

.mate-card__name-link {
  @include reset;
  text-decoration: none;

  position: relative;

  color: $text__dark-blue;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;

  &::before {
    @include reset;
    content: "";

    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -16px;
    bottom: -12px;

    background-color: $background__pinkish;
    border-radius: 50%;
  }

  &--online {
    &::before {
      @include reset;
      background-color: $background__greenish;
    }
  }
}

.mate-card__to-visit {
  @include reset;
  position: absolute;
  top: -12px;
  left: 0;
}

.mate-card__hashtags {
  @include reset;
  margin-top: 15px;
}

.mate-card__transport {
  @include reset;
  margin-top: 16px;
}
