.number-input {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-input__legend {
  @include reset;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: $text__dark-blue;
  text-transform: uppercase;
  width: 100%;
  padding-top: 19px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "Чел.";
    opacity: 0.3;
  }

  &--time {
    &::after {
      content: "Дн.";
      opacity: 0.3;
    }
  }
}

.number-input__wrapper {
  border: 1px solid $blue-10-color;
  border-radius: 4px;
  margin-top: 6px;
  margin-right: 11px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 9px;
}

.number-input__input {
  max-width: 162px;

  font-size: 15px;
  line-height: 14px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: $text__dark-blue;

  border: none;
  text-align: center;
}

.number-input__button {
  border: none;
  background: none;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  width: 14px;
  height: 14px;

  &--plus {
    background-image: url("../img/icons/mobile/qty-plus-mobile.svg");
    margin-right: 14px;
    margin-left: auto;
  }

  &--minus {
    background-image: url("../img/icons/mobile/qty-minus-mobile.svg");
    margin-right: auto;
    margin-left: 14px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .number-input__wrapper {
    width: 531px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 14px;
  }

  .number-input__legend {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;

    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    margin-top: 23px;
    margin-bottom: 16px;
  }

  .number-input {
    width: 100%;
  }

  .number-input__input {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;

    padding-top: 8px;
    padding-bottom: 14px;
  }

  .number-input__button {
    width: 20px;
    height: 20px;

    &--minus {
      margin-top: 9px;
      margin-left: 22px;
    }

    &--plus {
      margin-top: 10px;
      margin-right: 19px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .number-input {
    flex-direction: row;
    padding-left: 0;
    max-width: 50%;
  }

  .number-input__legend {
    position: relative;
    width: auto;
    min-width: 188px;
    margin-right: 19px;

    &::after {
      display: block;
      width: 50px;
      position: absolute;
      top: 0;
      right: -299px;
      text-align: left;
      color: $text__dark-blue;
      opacity: 1;
    }
  }

  .number-input__wrapper {
    width: 181px;
  }

  .number-input__input {
    max-width: 120px;

    font-size: 20px;
    line-height: 18px;
  }
}
