.show-all {
  transition: background-color 0.3s;
  transition: color 0.3s;
  transition: opacity 0.3s;
  text-decoration: none;

  display: block;
  max-width: 270px;
  position: relative;

  background-color: #ffd74b;

  color: rgba(29, 46, 91, 1);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 23px;

  border-radius: 10px;

  &:hover {
    transition: background-color 0.3s;
    background-color: #ffbd30;
  }

  &:focus {
    transition: background-color 0.3s;
    background-color: #ffbd30;
  }

  &:active {
    transition: color 0.3s;
    transition: opacity 0.3s;
    color: rgba(29, 46, 91, 0.3);
    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 10px;
    height: 14px;
    position: absolute;
    top: 24px;
    right: 23px;

    background: url("../img/icons/mobile/triangle-arrow-right.svg");
  }
}
