.social {
  list-style: none;

  display: flex;
  justify-content: center;
}

.social__item {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  &--ftr {
    background-color: $universal__bright-yellow;
  }
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;

  &--facebook {
    background-image: url("../img/icons/mobile/facebook-blue.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/icons/mobile/vk-blue.svg");
    background-size: 23px 12px;
  }

  &--instagram {
    background-image: url("../img/icons/mobile/instagram-blue.svg");
    background-size: 18px 18px;
  }

  &--facebook-ftr {
    background-image: url("../img/icons/mobile/facebook-navy.svg");
    background-size: 11px 21px;
  }

  &--vk-ftr {
    background-image: url("../img/icons/mobile/vk-navy.svg");
    background-size: 23px 12px;
  }

  &--instagram-ftr {
    background-image: url("../img/icons/mobile/instagram-navy.svg");
    background-size: 18px 18px;
  }
}
