.top-menu__functions {
  padding-top: 19px;
  margin-left: 25px;
  margin-right: 25px;

  &--index {
    padding-top: 27px;
  }
}

.top-menu__actions {
  display: none;
}

@media (min-width: $desktop-breakpoint) {
  .top-menu {
    @include desktop-paddings;
    display: flex;
  }

  .top-menu__actions {
    @include reset;
    background: none;

    display: flex;
  }
}
