.top-menu__functions {
  padding-top: 19px;
  margin-left: 25px;
  margin-right: 25px;

  &--index {
    padding-top: 27px;
  }
}

.top-menu__actions {
  display: none;
}

@media (min-width: $tablet-breakpoint) {
  .top-menu__functions {
    margin-left: 25px;
    margin-right: 40px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .top-menu {
    @include desktop-paddings;
    display: flex;

    padding-top: 49px;
  }

  .top-menu__functions {
    margin: 0;

    &--index {
      padding-top: 0px;
    }
  }

  .top-menu__information {
    display: flex;
  }

  .top-menu__actions {
    @include reset;
    background: none;

    display: flex;
  }
}
