.transport {
  display: flex;
  width: 100%;
  justify-content: center;

  &--catalog {
    list-style: none;

    padding-left: 25px;
  }
}

.transport__item {
  width: 24px;
  height: 21px;
  position: relative;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--plane {
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../img/icons/mobile/plane.svg");
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.15;
      z-index: 4;
    }
  }
  &--bus {
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../img/icons/mobile/bus.svg");
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.15;
      z-index: 4;
    }
  }
  &--bycicle {
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../img/icons/mobile/bike.svg");
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.15;
      z-index: 4;
    }
  }
  &--run {
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../img/icons/mobile/run.svg");
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.15;
      z-index: 4;
    }
  }

  &--catalog {
    width: 32px;
    height: 32px;

    &::after {
      background-size: 19px 17px;
    }

    &::before {
      content: "";

      display: block;
      width: 100%;
      height: 100%;

      opacity: 1;
      background-color: #edeff6;
      border-radius: 50%;

    }

    &:not(:first-child) {
      margin-left: 0;
    }
  }

  &--active {
    &::after {
      opacity: 1;
    }
  }
}
