@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin tablet-margins {
  margin-right: 75px;
  margin-left: 75px;
}

@mixin tablet-paddings {
  padding-right: 75px;
  padding-left: 75px;
}

@mixin desktop-margins {
  margin-right: 60px;
  margin-left: 60px;
}
